# будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db
# будет игнорироваться каталог tmp
tmp/
# будет игнорироваться каталог .idea
.idea/
# будет игнорироваться относительно файла .gitignore
/tmp/
# будут игнорироваться все файлы и каталоги с расширением .txt
*.txt
# будут игнорироваться файлы .DS_Store
.DS_Store